apiVersion: v1
kind: Pod
metadata:
  name: "{{ galera_node_name }}"
  namespace: "{{ namespace }}"
  labels:
    pod_name: "{{ galera_node_name }}"
    app: "{{ galera_app_name }}"
    galera_cluster: "{{ galera_cluster_name }}"
spec:
  selector:
    matchLabels:
      app: "{{ galera_app_name }}"
  limits:
  - default:
      memory: 1Gi
    defaultRequest:
      memory: 1Gi
  containers:
  - name: "{{ galera_node_name }}"
    image: "mariadb:{{ mariadb_version }}"
    args: {{ ['--wsrep-new-cluster'] if do_bootstrap|default(False)|bool else [] }}
    restartPolicy: "Never"
    ports:
    - name: mysqld
      containerPort: 3306
    - name: wsrep
      containerPort: 4567
    - name: sst
      containerPort: 4444
    - name: ist
      containerPort: 4568
    env:
    - name: MYSQL_ALLOW_EMPTY_PASSWORD
      value: "yes"
    volumeMounts:
    - name: mysql-cnf-mount
      mountPath: "/etc/mysql"
    - name: mysql-data-mount
      mountPath: "/var/lib/mysql"
    - name: mysql-entrypoint-mount
      mountPath: "/usr/local/bin"
    #readinessProbe:
    #  exec:
    #    command:
    #    - ansible-playbook
    #    - pod_ready.yaml
    #  initialDelaySeconds: 30
    #  periodSeconds: 10
    #  timeoutSeconds: 30
    #  failureThreshold: 30
  volumes:
  - name: mysql-cnf-mount
    configMap:
      name: "{{ galera_configmap_name }}-{{ galera_node_name }}"
      items:
      - key: "mysql-cnf-general"
        path: "my.cnf"
  - name: mysql-entrypoint-mount
    configMap:
      name: "{{ galera_configmap_name }}-{{ galera_node_name }}"
      items:
      - key: "mysql-entrypoint"
        path: "docker-entrypoint.sh"
        mode: 0755
  - name: mysql-data-mount
    persistentVolumeClaim:
      claimName: "{{ galera_node_name + '-mysql-data' }}"
