apiVersion: v1
kind: Service
metadata:
  name: "{{ galera_node_name }}-service"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ galera_app_name }}"
    galera_cluster: "{{ galera_cluster_name }}"
spec:
  selector:
    pod_name: "{{ galera_node_name }}"
  ports:
  - name: mysql
    protocol: TCP
    port: 3306
  - name: wsrep
    protocol: TCP
    port: 4567
  - name: wsrep-udp
    protocol: UDP
    port: 4567
  - name: sst
    protocol: TCP
    port: 4444
  - name: ist
    protocol: TCP
    port: 4568
