[ req ]
prompt = no
distinguished_name = dn
req_extensions = v3_req

[ dn ]
CN="{{ cert_common_name }}"
O="{{ cert_org }}"

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment, keyCertSign
basicConstraints = critical, CA:TRUE
